:root {
    --blue-1: #3399ff;
    --dark-blue-1: #101418;
    --dark-blue-2: #303740;
    --gray-1: #9da8b7;
}

body {
    margin: 0;
    background-color: var(--dark-blue-1);
}

main {
    background: linear-gradient(
        180deg,
        var(--dark-blue-1) 0%,
        rgba(0, 58, 117, 0.16) 100%
    );
}

.text-blue {
    color: var(--blue-1) !important;
}

.text-gray {
    color: var(--gray-1) !important;
}
