.background-size {
    height: 600px;
}

@media (width < 900px) {
    .background-size {
        height: 100%;
    }
}

.slide {
    height: 100%;
    width: calc(50vw - 8px);
}

@media (width < 900px) {
    .slide {
        height: 360px;
        width: 100vw;
    }
}

.slide__wrapper {
    height: 100%;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

.slide__wrapper::after {
    content: '';
    background: linear-gradient(
        to bottom,
        var(--dark-blue-1) 0%,
        rgba(16, 20, 24, 0) 30%,
        rgba(16, 20, 24, 0) 70%,
        var(--dark-blue-1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    display: block;
}

@media (width >= 900px) {
    .slide__wrapper::after {
        content: '';
        background: linear-gradient(
            to right,
            var(--dark-blue-1),
            rgba(0, 58, 117, 0)
        );
        display: block;
        position: absolute;
        top: -3px;
        left: -2px;
        width: 400px;
        height: 150%;
        pointer-events: none;
        z-index: 10;
    }
}
.slide__body {
    left: 40%;
    position: absolute;
    z-index: -1;
    display: flex;
    transform: translateX(-40%) rotateZ(-30deg) rotateX(8deg) rotateY(8deg);
    transform-origin: center center;
    width: 1000px;
}

.slide__item {
    display: grid;
    grid-template-rows: min-content;
    width: min-content;
    animation: 30s ease-out 0s 1 normal forwards running template-slidedown;
    gap: 64px;
}

.slide__item--slideup {
    animation: 30s ease-out 0s 1 normal forwards running template-slidedup;
}

@keyframes template-slidedown {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(-60px);
    }
}

@keyframes template-slidedup {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(-20px);
    }
}
